@CHARSET "UTF-8";

body {
    text-align:center;
    font-size:14px;
}

.bodyDiv {
    margin:0 auto;width:960px;
    text-align: left;
}

.bodyAdminDiv {
    margin:0 auto;
    text-align: left;
}

.leftItem {
    cursor: pointer;
}

.vs_div_talbe {
    padding: 0px;
    position: relative;
}

.vs_grid_plain {
    position: relative;
    left: 0px;
    top: 0px;
    padding: 0px;
    overflow: hidden;
    float:left;
}

.vs_page_index_unselected {
    overflow: hidden;
    float:left;
    cursor:pointer;
    text-decoration: underline;
    margin-left: 6px;
}

.vs_page_index_selected {
    overflow: hidden;
    float:left;
    cursor:pointer;
    color: red;
    text-decoration: underline;
    margin-left: 6px;
}

.vs_div_talbe_border {
    left:0px;
    top:0px;
    padding: 0px;
    position: relative;
    float:left;
    background: #ffffff;
}

.vs_div_table_border_content {
    width:120px;
    height: 20px;
    padding: 0px;
    float:left;
}

.vs_div_table_border_content_right {
    width:20px;
    height: 20px;
    padding: 0px;
    float:left;
    background-image: url("../img/table_line_right.png");
    background-repeat: repeat-y;
}

.vs_div_table_border_content_left {
    width:20px;
    height: 20px;
    padding: 0px;
    float:left;
    background-image: url("../img/table_line_left.png");
    background-repeat: repeat-y;
}

.vs_div_table_border_bottom {
    width:120px;
    height: 20px;
    padding: 0px;
    float:left;
    background-image: url("../img/table_line_bottom.png");
    background-repeat: repeat-x;
}

.vs_div_table_border_bottom_right {
    width:20px;
    height: 20px;
    padding: 0px;
    float:left;
    background-image: url("../img/bottom_right_corner.png");
    background-repeat: no-repeat;
}

.vs_div_table_border_bottom_left {
    width:20px;
    height: 20px;
    padding: 0px;
    float:left;
    background-image: url("../img/bottom_left_corner.png");
    background-repeat: no-repeat;
}

.vs_div_table_border_head_left {
    width:20px;
    height: 20px;
    padding: 0px;
    left:0px;
    top:0px;
    position: relative;
    float:left;
    background-image: url("../img/left_top_corner.png");
    background-repeat: no-repeat;
}

.vs_div_table_border_head {
    height: 20px;
    padding: 0px;
    left:0px;
    top:0px;
    position: relative;
    float:left;
    background-image: url("../img/table_line_head.png");
    background-repeat: repeat-x;
}

.vs_div_table_border_head_right {
    width:20px;
    height: 20px;
    padding: 0px;
    left:0px;
    top:0px;
    position: relative;
    float:left;
    background-image: url("../img/right_top_corner.png");
    background-repeat: no-repeat;
}

.vs_div_table_content {
    border-right: 1px solid #28afae;
    border-bottom: 1px solid #28afae;
    overflow: hidden;
    float:left;
    cursor:pointer;
    padding-left: 2px;
    padding-top: 2px;
}

.vs_div_table_content_right {
    border-bottom: 1px solid #28afae;
    overflow: hidden;
    float:left;
    cursor:pointer;
    padding-left: 2px;
    padding-top: 2px;
}

.vs_div_table_content_bottom {
    border-right: 1px solid #28afae;
    position: relative;
    overflow: hidden;
    float:left;
    cursor:pointer;
    padding-left: 2px;
    padding-top: 2px;
}

.vs_div_table_content_bottom_right {
    position: relative;
    overflow: hidden;
    float:left;
    cursor:pointer;
    padding-left: 2px;
    padding-top: 2px;
}

.container {
    position: relative;
    left: 0px;
    top: 0px;
    padding: 0px;
}

.clearfix:after {
    padding: 0px;
    visibility: hidden;
    display: block;
    position: relative;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    left:0px;
    top:0px;
}

.div_window_back {
    filter:alpha(opacity=50);
    /*IE*/-moz-opacity:0.5;/*Moz+FF*/
    opacity:0.5;
    background:#ccc;
}

.table_bottom_sum_td {
    border-top: 1px solid #28afae;
}


.vs_grid_content {
    overflow: hidden;
    float:left;
    cursor:pointer;
}


.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }



.parent_tree{
    background: url("../img/menu-header-bg.jpg") 0px 0px repeat-x #FFF;
    color: #0086c2;
    border-bottom: 1px solid #CDC8CF;
    border-left: 1px solid #CDC8CF;
    border-right: 1px solid #CDC8CF;

}
.parent_tree:hover{
    background: url("../img/menu-header-bg-hower.jpg") 0px 0px repeat-x #FFF;
    color:#036cb4;
}

.son_tree{
    background:#eee;
    border-bottom: 1px solid #CDC8CF;
    border-left: 1px solid #CDC8CF;
    border-right: 1px solid #CDC8CF;
}

.son_tree:hover{
    color:#3481eb;
}



